body{
    padding-left: 10px;
}

.modifier {
    background-color: rgb(255,204,0);
}

#cacher{
    font-weight : bold;
}

.details {
    width : 100%;
    padding-top : 20px;
    display : flex;
    padding-left : 20px;
}

.nouveau {
    width : 100%;
    padding-top: 20px;
    display: flex;
    padding-left: 20px;
}

.children{
    display : inline-block;
    padding-right : 10px;
}
.child {
    display: inline-block;
    padding-right: 10px;
}

.valider {
    background-color: rgb(46,204,113);
    color: white;
}

.annuler {
    background-color: rgb(255,76,48);
    color: white;
}

.child div{
    padding-top : 2px;
}

input[type=text],input[type=number],select,input[type=date]{
    width : 150px;
    height : 27px;
}

tableau{
    padding-top : 20px;
}
