.forms {
    padding-top: 3%;
    padding-left: 20.2%;
}

.export{
    padding-top : 3%;
    padding-left : 19%;
}

.export > form > div{
    padding-left : 3px;
}

.forms input[type=text]
{
    height : 33px;
}

input[type=date],select{
    height : 40px;
}

.header{
    display : flex;
}

.header div{
    display : flex;
}


form{
    display : flex;
}