@{
    ViewData["Title"] = "Acceuil";
}

<form method="post" action="/Home/Home" >
    <div>Rechercher</div>
    <input type="text" name="tosearch" />
    <button type="submit">Rechercher</button>
</form>
