@{
    string? erreur = (string?)ViewData["error"];
}

<html>
	<head>
        <title>Mpandray vaovao</title>
	</head>
	<body>
    @if(!string.IsNullOrEmpty(erreur))
    {
        <div>@erreur</div>
    }
    <div class="formulaire">
        <form method="post" action="/Home/Ajout">
            <div>
                Numero Mpandray :
                <input type="number" name="numero" />
            </div>
            <div>
                Anarana :
                <input type="text" name="anarana" />
            </div>
            <div>
                Fanampiny :
                <input type="text" name="fanampiny"  />
            </div>
            <div>
                Fonenana :
                <input type="text" name="fonenana"  />
            </div>
            <div>
                Fokontany :
                <input type="text" name="fokontany"  />
            </div>
            <div>
                Numero Telephone :
                <input type="text" name="tel" />
            </div>
            <button type="submit">Ajouter</button>
        </form>
    </div>
	</body>
</html>