@using Modele
@{
	IEnumerable<Utilisateur>? liste_utilisateur = (IEnumerable<Utilisateur>?)ViewData["liste_utilisateur"];
}
<!doctype html>
<html lang="fr">
<head>
	<title>Table 01</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/css/style.css">

	<link rel="stylesheet" href="~/css/search.css">

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
							<thead class="thead-primary">
								<tr>
									<th>IdUtilisateur</th>
									<th>Nom Utilisateur</th>
									<th>Mot de passe</th>
								</tr>
							</thead>
							<tbody>
								@if (liste_utilisateur!.Any())
								{
									@foreach (var item in liste_utilisateur!)
									{
										<tr>
											<th scope="row"><a href="/Admin/Details/@item.Idutilisateur">@item.Idutilisateur</a></th>
											<td>@item.Nomutilisateur</td>
											<td>@item.Motdepasse</td>
										</tr>
									}
								}
								else
								{
									<td colspan="4">Tsy misy mpandray intsony</td>
								}
							</tbody>
						</table>
						<div><a href="/Home/UtilisateurListe">Next</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>


</body>
</html>

